{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvé</h1>

    <p>
        La page demandé n'a pas été trouvé. Verifiez si l'url
        est bien écrite ou <a href="{{ path('index') }}"><i class="fas fa-home"></i> retourner à l'accueil</a>.
    </p>
{% endblock %}