{% extends "base.html.twig" %}
{% block body %}
    <a href="{{ url("planningListe") }}"><button class="btn-dark btn">Planning</button></a>
    <a href="{{ url("planningCreation") }}"><button class="btn-dark btn">Creer un nouveau Planning</button></a>
{% endblock %}