<html lang="fr">
<body>
<div class="body">
    <div class="container">
        <div class="content">
            <a class="btn-success btn" href="{{ absolute_url(path("resestPassword", {email: username.email, token: token})) }}" role="button">Réinitialiser le mot de passe</a>
        </div>
    </div>
</div>
</body>
</html>