<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Oxy'jeunes</title>
    <link rel="icon" href="https://jstadelmann.fr/wp-content/uploads/2019/11/icon.png" sizes="32x32">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<header>
  <img src="https://jstadelmann.fr/wp-content/uploads/2019/11/Logo.png" alt="Oxy'jeunes" id="logo">
</header>
<div class="body">
    <div class="container">
        <div class="content">
           <p>Vous venez d'effectuer une demande de renouvellement de mot de passe afin de pouvoir vous connecter à votre compte.</p>
            <p>Dans le but de réinitialiser votre mot de passe, nous vous invitons à cliquer sur le bouton ci-dessous :</p>
            <div class="">
                <a class="btn-warning btn" href="{{ absolute_url(path("resetPassword", {email: username.email, token: token})) }}" role="button">Réinitialiser le mot de passe</a>
            </div>
        </div>
        <div class="content">
           <H5>Note importante : Ce lien comprend une clé qui sera valide pendant 48h00 (à compter de la date d'expédition de cet email).
               Passé ce délai, il vous faudra renouveler votre demande de mot de passe sur le site, afin de recevoir un nouvel e-mail d'authentification.
           </H5>
        </div>
    </div>
</div>
</body>
</html>