{% extends "base.html.twig" %}
{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <a class="btn btn-secondary m-3 text-center" href="{{ path("index") }}" role="button">Retour à l'accueil</a>
    <form method="post">
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title text-primary">Mot de passe perdu</h5>
                <h6 class="card-subtitle mb-2 text-muted">Email</h6>
                <p class="card-text">{{ form_widget(form.email) }}</p>
            </div>
            <button class="btn btn-success" type="submit">Valider</button>
        </div>
    </div>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}