{% extends "base.html.twig" %}
{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <a class="btn btn-secondary m-3 text-center" href="{{ path("index") }}" role="button"><i class="fas fa-arrow-left"></i> Retour à l'accueil</a>
    <form method="post" onsubmit="openModal()" id="myForm">
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title text-primary">Mot de passe perdu</h5>
                <h6 class="card-subtitle mb-2 text-muted">Email</h6>
                <p class="card-text" required>{{ form_widget(form.email) }}</p>
            </div>
            <button class="btn btn-success" type="submit">Valider</button>
            <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-primary">Envoi</h4>
                        </div>
                        <div class="modal-body">
                            <p>Un E-mail vient d'être envoyé pour réinitialiser votre mot de passe.</p>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#myForm').on('submit', function(e){
            $('#myModal').modal('show');
        });
    </script>
{% endblock %}