{% extends "base.html.twig" %}
{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <form method="post">
        <div class="d-flex justify-content-center mt-5">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title text-primary">Nouveau mot de passe</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Entrez votre nouveau mot de passe</h6>
                    <p class="card-text">{{ form_widget(form.password) }}</p>
                </div>
                <button class="btn btn-success" type="submit">Valider</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}